{% extends "admin_base.html" %}

{% block content %}
                <div class="main-content-container container-fluid px-4">
                    <div class="page-header row no-gutters py-4">
                        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                            <span class="text-uppercase page-subtitle">Dashboard</span>
                            <h3 class="page-title">Overview</h3>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-lg col-md-6 col-sm-6 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                          <div class="card-body p-0 d-flex">
                            <div class="d-flex flex-column m-auto">
                              <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase">Super Admins</span>
                                <h6 class="stats-small__value count my-3">2,390</h6>
                              </div>
                              <div class="stats-small__data">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg col-md-6 col-sm-6 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                          <div class="card-body p-0 d-flex">
                            <div class="d-flex flex-column m-auto">
                              <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase">Admins</span>
                                <h6 class="stats-small__value count my-3">2,390</h6>
                              </div>
                              <div class="stats-small__data">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg col-md-6 col-sm-6 mb-4">
                        <div class="stats-small stats-small--1 card card-small">
                          <div class="card-body p-0 d-flex">
                            <div class="d-flex flex-column m-auto">
                              <div class="stats-small__data text-center">
                                <span class="stats-small__label text-uppercase">Users</span>
                                <h6 class="stats-small__value count my-3">2,390</h6>
                              </div>
                              <div class="stats-small__data">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                </div>
{% endblock %}