<!doctype html>
<title>{% block title %}Happy Cobra{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>What do you want to do now?</h1>
    <ul>
        {% if current_user.is_authenticated %}
            <li><span>Hello {{ current_user.firstname }}, {{ current_user.lastname }} </span>&nbsp;&nbsp;&nbsp;
            {% if current_user.has_role('admin') or current_user.has_role('SuperAdmin') %}
            <small>[You are an <a href="{{ url_for('admin.admin_index') }}">Admin</a>]</small>
            {% endif %}
            <li><a href="{{ url_for_security('logout') }}">Log Out</a>
                {% else %}
            <li><a href="{{ url_for_security('register') }}">Register</a>
            <li><a href="{{ url_for_security('login') }}">Log In</a>
            <li><a href="{{ url_for_security('forgot_password') }}">{{ _('Forgot password') }}</a><br/></li>

            <li><a href="{{ url_for_security('send_confirmation') }}">{{ _('Confirm account') }}</a></li>

        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>